html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$BgLightOrange: #F4E2B4;
$FontDarkBlue: #264653;

body {
  color: $FontDarkBlue;
  background-color: $BgLightOrange;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: light 300;
}

main {
  display: flex;
  margin: 0 5%;
  background-color: $BgLightOrange;
  flex-direction: column;
  color: $FontDarkBlue;
  align-items: center;
  justify-content: center;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 1024px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #content {
    margin-top: 200px;
  }

  #content .profile {
    height: fit-content;
    width: 30vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
    border-radius: 5px;
  }
}