:root {
  --headerBackgroundColor: #f4a261;
  --backgroundColor: #e9c46a;
  --primaryFontColor: #264653;
  --secondaryFontColor: #2a9d8f;
  --btnColor: #e76f51;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  /* color: #545149; */
  color: var(--primaryFontColor);
  background-color: var(--backgroundColor);
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: light 300;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

main {
  margin: 0 5%;
  /* background-color: #f4f1ec; */
  background-color: var(--backgroundColor);
  /* color: #545149; */
  color: var(--primaryFontColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #content {
    margin-top: 200px;
  }

  #content .profile {
    height: 350px;
    width: 30vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
    border-radius: 5px;
  }
}