html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #264653;
  background-color: #F4E2B4;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: light 300;
}

main {
  display: flex;
  margin: 0 5%;
  background-color: #F4E2B4;
  flex-direction: column;
  color: #264653;
  align-items: center;
  justify-content: center;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #content {
    margin-top: 200px;
  }
  #content .profile {
    height: 350px;
    width: 30vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
    border-radius: 5px;
  }
}
