nav {
  /* nav at top */
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  padding: 0 1.5em;
  font-size: 1.5em;
}

nav span {
  padding-top: 25px;
}

.header-right {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 25px;

}


.header-right p {
  margin: 0;
}

.fa-angles-down {
  color: red;
}

.header-right p {
  -webkit-transition: padding .5s ease-in-out;
}

.header-right p:hover {
  padding-bottom: 15px;
}


.bold {
  font-weight: bold;
}