.container {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet {
  width: 95%;
  padding: 10px;
  margin-bottom: 40px;
}

.new-tweet form {
  background-color: #F4F1EC;
  display: flex;
  flex-direction: column;
}


form label {
  color: #605D55;
  padding-bottom: 5px;
  font-weight: bolder;
  ;
}

textarea {
  border: none;
  background: #F4F1EC;
  height: min-content;
  resize: none;
  height: 100%;
  border-bottom: #605D55 3px solid;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

textarea:focus {
  outline: none;
  font-size: 1.5rem;
}

.below-textarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: 'Bungee', sans-serif;
}

button {
  background-color: #4056A2;
  color: #F4F1EC;
  border: none;
  padding: 4px 10px
}