.container {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-tweet {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
}

#submit-tweet {
  background-color: #F4F1EC;
  display: flex;
  flex-direction: column;
}

form label {
  color: #605D55;
  padding-bottom: 5px;
  font-weight: bolder;
  ;
}

textarea {
  border: none;
  background: #F4F1EC;
  height: min-content;
  resize: none;
  border-bottom: #605D55 3px solid;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

textarea:focus {
  outline: none;
  font-size: 1.5rem;
}

.below-textarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: 'Bungee', sans-serif;
}

button {
  background-color: #4056A2;
  color: #F4F1EC;
  border: none;
  padding: 4px 10px
}

/* error message */

.error-message {
  display: flex;
  align-self: center;
  width: 50%;
  min-height: 60px;
  background: #F4F1EC;
  border: 1px solid #b05150;
  margin: 2rem 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.error-message-icon {
  background: #b05150;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.6rem;
  margin: 0;
  margin-left: -1px;
}

.error-message p {
  flex: 6;
  padding-left: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}