#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #264653;
  color: #e76f51;
  cursor: pointer;
  padding: 20px;
  font-size: 18px;
  border-radius: 50%;
}

#scroll i {
  padding: 0 4px
}